<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846990055031-ki3rhpfr84slr88j1u5og7a0bkmmdh2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846990055031-ki3rhpfr84slr88j1u5og7a0bkmmdh2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAvgEywKly9eevyxHnidePvE_x_f08vZ3g</string>
	<key>GCM_SENDER_ID</key>
	<string>846990055031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stuntbum.bowlscore</string>
	<key>PROJECT_ID</key>
	<string>bowlscore-2632e</string>
	<key>STORAGE_BUCKET</key>
	<string>bowlscore-2632e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846990055031:ios:7838053db5ac6081</string>
	<key>DATABASE_URL</key>
	<string>https://bowlscore-2632e.firebaseio.com</string>
</dict>
</plist>